.submenu {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;

  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}

.show {
  display: block;
}

.submenu-link {
  display: flex;
  gap: 1rem;
}
