/* 
FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
/* 
RESET
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/

:root {
  /* COLORS */
  --clr-almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  /* OTHERS */
  --transition: all 0.3 linear;
  --spacing: 0.25rem;
  --radius: 10px;
  /* FONT */
  --font: 'Epilogue', sans-serif;
}

/* 
GLOBAL STYLES
*/
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1rem;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

/* BTN */
.btn {
  display: inline-block;
  text-transform: capitalize;
  color: var(--medium-gray);
  background: transparent;
  border: none;
  padding: 0.375rem 0.775rem;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 500;
}

body {
  font-family: var(--font);
}
